@use "../abstracts" as abs;

body {
	height: 100vh;
}

.grid-container {
	display: grid;
	grid-template-rows: [rl1] 70px [rl2] 0.4fr [rl3] 80px repeat(2, 1fr);
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas: 
	". . . . . ."
	". header header header header ."
	". . . . . ."
	". . btn-green btn-red . ."
	". . btn-yellow btn-blue . .";
	justify-items: center;
}
